<style>
    #widget {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #00FF00;
        font-size: 100%;
        font-family: Arial;
        padding: 8px;
    }
    .widget-data {
        padding-left: 16px;
    }
</style>
<div id="widget">
    <table>
        <tr><td>Messages Received</td><td id="msg-count" class="widget-data">0</td></tr>
        <tr><td>Average Latency (ms)</td><td id="avg-latency" class="widget-data">0</td></tr>
    </table>
</div>