<div id="widget">
    <table>
        <tr><td>Messages Received</td><td id="msg-count" class="widget-data">0</td></tr>
        <tr><td>Avgerage Latency (ms)</td><td id="avg-latency" class="widget-data">0</td></tr>
    </table>
</div>