#widget {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00FF00;
    font-size: 70%;
    font-family: Arial;
    padding: 8px;
}

.widget-data {
    padding-left: 16px;
}