#liveLeaderboard{
	background-color: transparent;
	position: fixed;
	/*border-style: solid;
	border-color: blue;
	border-width: 2px; */
	width: 15%;
	color: white;
	right: 0;
}

.list{
	font-size: 200%;
	padding: 3px;
}